/* stylesheet for Manage My Dog */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amaranth&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: rgb(223, 238, 246);
}

.header {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  padding-left: 0rem;
  padding-right: 0rem;
}

.headerLogo {
  height: 20rem;

  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
      rgba(247, 14, 14, 0.1),
      rgba(241, 9, 20, 0.1)
    ),
    url("images/1320x200 MangeMyDog.jpg");

  background-position: center center;
  background-size: 99% 99%;
  background-repeat: no-repeat;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*Navbar and burger menu*/
.navbar {
  font-family: "Amaranth", sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 5rem;
  position: relative;
  margin: 0.625rem 0 0 0;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 3rem;
  height: 0.25rem;
  margin: 0.5rem auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.nav-item {
  margin-left: 1rem;
}
.nav-foot-item {
  display: none;
}

.nav-link {
  font-size: 2.5rem;
  font-weight: 450;
  color: black;
}

.nav-link:hover {
  color: #212cda;
}

.footer {
  padding-top: 2rem;
  font-family: "Amaranth", sans-serif;
}

.foot-menu {
  height: 2rem;
  display: grid;
  padding-left: 25%;
  padding-right: 25%;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

/* ------ Media Queries for Devices ------------ */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  ...;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  ...;
}

@media only screen and (max-width: 768px) {
  .header {
    padding-top: 0.25rem;
    padding-bottom: 1rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }

  .headerLogo {
    height: 10rem;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(
        rgba(247, 14, 14, 0.1),
        rgba(241, 9, 20, 0.1)
      ),
      url("images/400x52 manageMydog4.jpg");

    background-position: center center;
    background-size: 99% 99%;
    background-repeat: no-repeat;
  }

  .nav-menu,
  .foot-menu {
    position: inherit;
    overflow-x: scroll;
    left: -100%;
    top: 8.5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    transition: 0.4s;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }
  .nav-foot-item {
    display: inline;
    margin: 2.5rem 0;
  }

  .hamburger {
    padding-top: 0rem;
    padding-left: 70%;
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  ...;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  ..;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  ..;
}
