/* stylesheet for Manage My Dog */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amaranth&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");

* {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-top: 0.15rem;
  margin-bottom: 2rem;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62%;
  font-family: "Amaranth", sans-serif;
}
body {
  background-color: rgb(223, 238, 246);
}

h1 {
  font-family: "Amaranth", sans-serif;
  font-size: 2.6rem;
  font-weight: 450;
}

h4 {
  font-family: "Amaranth", sans-serif;
  font-size: 2.1rem;
  font-weight: 400;
}
h5 {
  font-family: "Amaranth", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}

.pageDescription {
  padding-top: 0rem;

  font-family: "Arvo", serif;
  color: #212cda;
  font-size: 3.5rem;
  font-weight: 400;
  -webkit-text-stroke: 0.09rem rgb(235, 226, 226); /* width and color */
}

.header {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  padding-left: 0rem;
  padding-right: 0rem;
}

.headerLogo {
  height: 19rem;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
      rgba(247, 14, 14, 0.1),
      rgba(241, 9, 20, 0.1)
    ),
    url("images/1320x200 MangeMyDog.jpg");

  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*Navbar and burger menu*/
.navbar {
  font-family: "Amaranth", sans-serif;
  font-family: 400;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  margin: 0.625rem 0 0 0;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 3rem;
  height: 0.25rem;
  margin: 0.5rem auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.nav-item {
  margin-left: 1rem;
}
.nav-foot-item {
  display: none;
}

.nav-link {
  font-size: 2.5rem;
  font-weight: 450;
  color: black;
}

.nav-link:hover {
  color: #212cda;
}

/*Drop down menu for selectin a exisitng dog*/
.dropdown {
  margin-left: 1rem;
  position: relative;
  display: inline-block;
  font-family: "Amaranth", sans-serif;
  text-transform: none;
  font-size: 2.5rem;
  font-weight: 450;
  color: black;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
/*dropdown with scroll functionality*/
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 6rem;
  border-radius: 1rem;
  background-color: rgb(174, 220, 245);
  color: black;
  max-height: 50rem;
  overflow: scroll;
}

.dropdown-content a {
  color: black;
  min-width: 4rem;
  padding: 1.25rem 4rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f5e2e2;
  color: rgb(225, 10, 25);
  min-width: 16rem;
  border-radius: 2rem;
}

.dropdown:hover .dropdown-content {
  /* margin: 1rem 1rem; */
  padding: 0.25rem 5rem;
  display: block;
  flex-wrap: nowrap;
  text-decoration: none;
  text-align: center;
}
.dropbtn {
  padding: 0 0;
  margin: 0rem 0rem;
  font-family: "Amaranth", sans-serif;
  text-transform: none;
  font-size: 2.5rem;
  color: black;
  /*We want these buttons to have a decent touch area so they are easy to click/tap*/
  display: inline-flex;
  min-height: 2.8125rem;
  align-items: center;
  /*Styles needed for the button only*/
  border: 0rem;
  background: none;
}
/*search for names */
#myInput {
  background-position: 6rem 4rem;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 1.3rem;
  padding-left: 0.25rem;
  padding-top: 0.4rem;
  padding-bottom: 0.25rem;
  border: 0.25rem solid rgb(155, 155, 155);
}

/* Main content */
/* Column container */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  font-family: "Amaranth", sans-serif;
  font-size: 1.5rem;
  padding-top: 0.25rem;
  padding-bottom: 1rem;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 25%;
  background-color: #f5e2e2;
  padding: 2rem;
  border-style: solid;
  border-color: rgb(88, 231, 231);
  border-width: 0.01rem;
}

/* Main column */
.main {
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: clear;
  padding: 2rem;
}

/*images on homepage*/
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column,
img {
  height: 45rem;
  float: left;
  width: 49%;
  padding-left: 1rem;
  padding-right: 1rem;
}

/*Add ned Dog Profile page*/
.newDogRow {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  font-family: "Amaranth", sans-serif;
  font-size: 3rem;
  padding-top: 0.25rem;
  padding-bottom: 1rem;
}

.newDogSide {
  -ms-flex: 30%; /* IE10 */
  flex: 40%;
  background-color: #f5e2e2;
  padding: 2rem;
  border-style: solid;
  border-color: black;
  border-width: 0.01rem;
}

.sideImg {
  -ms-flex: 70%; /* IE10 */
  flex: 10%;
  background-color: clear;
  padding-top: 1rem;
  padding-left: 5rem;
}

.dropImg,
img {
  height: 35rem;
  float: left;
  width: 60%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.dogDetails {
  border: solid;
  border-color: black;
  background-color: white;
}

/*To display selected dog info page*/
.profileInfo {
  border: solid;
  border-color: black;
  background-color: white;
  max-height: 40rem;
  overflow: scroll;
}

.faqInfo {
  border: solid;
  border-color: black;
  background-color: white;
  font-size: 2.1rem;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0rem;
  max-height: 50rem;
  overflow: scroll;
}
.aboutInfo {
  border: solid;
  border-color: black;
  background-color: white;
  font-size: 2.1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  max-height: 60rem;
  margin-left: 1rem;
  margin-right: 1rem;
  overflow: scroll;
}
.thankImg,
img {
  padding-left: 5%;
  padding-right: 5%;
}
.thankMain {
  -ms-flex: 70%; /* IE10 */
  flex: 80%;
  background-color: clear;
  padding: 2rem;
  width: 100%;
}

.footer {
  padding-top: 2rem;
  font-family: "Amaranth", sans-serif;
}

.foot-menu {
  height: 2rem;
  display: grid;
  padding-left: 25%;
  padding-right: 25%;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.contactMain {
  -ms-flex: 70%; /* IE10 */
  flex: 40%;
  background-color: clear;
  margin-left: 20rem;
  margin-right: 20rem;
  padding: 2rem;
}

.wrapper {
  border: solid;
  border-color: #c5c9f7;
  background-color: #f5e2e2;
  color: black;
  font-size: 2.1rem;
  margin-top: rem;
  margin-left: 20rem;
  margin-right: 20rem;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0rem;
  max-height: 80rem;
  overflow: scroll;
}

.wrapper .input_field {
  margin-bottom: 1rem;
}

.wrapper .input_field input[type="text"],
.wrapper textarea {
  border: 0.25rem solid #c5c9f7;
  width: 95%;
  padding: 10px;
}
/*message box*/
.wrapper textarea {
  resize: none;
  height: 10rem;
}

.wrapper .btn input[type="submit"] {
  font-family: "Amaranth", sans-serif;
  font-size: 1.4rem;
  border: 0rem;
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
  width: 90%;
  background: #bdbfdb;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-weight: bold;
  border-radius: 2rem;
  cursor: pointer;
}

#error_message {
  margin-bottom: 1rem;
  background: #fe8b8e;
  padding-top: 0rem;
  text-align: center;
  font-size: 2rem;
  border-radius: 1.25rem;
  transition: all 0.5s ease;
}
/* Time and date button on Contact Us times page */

#timebtn,
#find-me {
  color: black;
  font-size: 1.8rem;
  background-color: rgb(161, 189, 212);
  padding: 0.25rem 0.25rem;
  border-radius: 1rem;
  cursor: pointer;
  width: 50%;
}

#timebtn:hover,
#find-me:hover {
  background-color: rgb(80, 35, 244);
  color: rgb(187, 240, 241);
}
#dateTime,
#map-link {
  color: #2107c7;
  font-size: 2.25rem;
}

/* ------ Media Queries for Devices ------------ */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    content: inherit;
  }
  .row {
    flex-direction: column;
  }
  img {
    padding-left: 2rem;
    padding-right: 2rem;
    background-size: inherit;
  }
  .header {
    padding-top: 0.25rem;
    padding-bottom: 1rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }

  .headerLogo {
    height: 10rem;
    padding-top: 0rem;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(
        rgba(247, 14, 14, 0.1),
        rgba(241, 9, 20, 0.1)
      ),
      url("images/400x52 manageMydog4.jpg");

    background-position: center center;
    background-size: 99% 99%;
    background-repeat: no-repeat;
  }
  .pageDescription {
    padding-top: 0rem;

    font-family: "Arvo", serif;
    color: #212cda;
    font-size: 3rem;
    font-weight: 600;
    -webkit-text-stroke: 0.09rem rgb(235, 226, 226); /* width and color */
  }

  .nav-menu,
  .foot-menu {
    position: fixed;
    overflow-x: auto;
    left: -100%;
    top: 8.5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    transition: 0.4s;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }
  .nav-foot-item {
    display: inline;
    margin: 2.5rem 0;
  }

  .hamburger {
    padding-top: 0rem;
    padding-left: 70%;
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /*two coloumn will stack ontop of each other*/
  .row {
    flex-direction: column;
  }

  .column,
  img {
    height: 40rem;
    float: none;
    width: 90%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .contactMain {
    background-color: clear;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    width: fit-content;
    padding: 2rem;
    overflow: hidden;
  }
  .wrapper {
    border: solid;
    border-color: #c5c9f7;
    background-color: #f5e2e2;
    color: black;
    font-size: 1.8rem;
    margin-left: 0rem;
    margin-right: 0rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0rem;
    max-height: 65rem;
    overflow: scroll;
  }
  .newDogSide {
    -ms-flex: 30%; /* IE10 */
    flex: 100%;
    background-color: #f5e2e2;
    padding: 2rem;
    border-style: solid;
    border-color: black;
    border-width: 0.01rem;
  }
  .dropImg,
  img {
    height: 40rem;
    float: left;
    width: 80%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px up to 1028px */
@media only screen and (max-width: 1028px) {
  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }

  .nav-item {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
  .nav-foot-item {
    display: inline;
  }

  .nav-link {
    font-size: 2rem;
    font-weight: 450;
    color: black;
  }
  .dropbtn {
    padding: 0 0;
    margin: 0rem 0rem;
    text-transform: none;
    font-size: 2rem;
    color: black;
    display: inline-flex;
    min-height: 2.8125rem;
    align-items: center;
    border: 0rem;
    background: none;
  }

  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    -ms-flex: 30%; /* IE10 */
    flex: 40%;
    background-color: #f5e2e2;
    padding: 2rem;
    border-style: solid;
    border-color: rgb(88, 231, 231);
    border-width: 0.01rem;
  }

  /* Main column */
  .main {
    -ms-flex: 70%; /* IE10 */
    flex: 50%;
    background-color: clear;
    padding: 2rem;
  }
  .column,
  img {
    height: 35rem;
    float: left;
    width: 95%;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .contactMain {
    background-color: clear;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    width: fit-content;
    padding: 2rem;
    overflow: hidden;
  }
  .wrapper {
    border: solid;
    border-color: #c5c9f7;
    background-color: #f5e2e2;
    color: black;
    font-size: 2.1rem;
    margin-left: 1rem;
    margin-right: 1em;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0rem;
    max-height: 65rem;
    overflow: scroll;
  }

  .newDogSide {
    -ms-flex: 30%; /* IE10 */
    flex: 20%;
    background-color: #f5e2e2;
    padding: 2rem;
    border-style: solid;
    border-color: black;
    border-width: 0.01rem;
  }
  .sideImg {
    -ms-flex: 70%; /* IE10 */
    flex: 30%;
    background-color: clear;
    padding-top: 1rem;
    padding-left: 5rem;
  }
  .dropImg,
  img {
    height: 35rem;
    float: left;
    width: 95%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .footer {
    padding-top: 1rem;
    font-family: "Amaranth", sans-serif;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-bottom: 1rem;
  }

  .foot-menu {
    height: 0.25rem;
    display: grid;
    width: 100%;
    margin-left: 0rem;
    margin-right: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
